/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: auto;
    color: #d2d2d2;
    background-color: #13181b; /* zinc-900 */
    min-height: 100vh;
    width: 100%;
    overscroll-behavior: none;
}

/* Typography */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

h4 {
    font-size: 0.75rem;
    font-weight: 300;
}

p {
    font-size: 0.875rem;
}

/* Main Container */
.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem;
}

#main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    #main {
        max-width: 48rem;
    }
}

/* About/Intro Section */
#about {
    display: flex;
    max-width: 48rem;
    flex-direction: column;
    gap: 1.5rem;
}

.intro-header {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.profile-pic-container {
    min-width: 12rem;
    min-height: 12rem;
    width: 12rem;
    height: 12rem;
    background-color: #000000;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 100%
}

.intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    line-height: 0;
}
a {
  font-size: 0.875rem;
  color: #44ba87;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1H7M7 1V7M7 1L1 7" stroke="%2344ba87"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
/* BookShelf Section */
.bookshelf {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bookshelf-header {
  display: flex;
  flex-direction: column;
}
.book-container {
  border-left: 0.25rem solid #367258;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.book-header {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
/* Projects Section */
.projects-section {
  display: flex;
    height: 100%;
    flex-direction: column;
}
.projects-container {
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.project-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 0.25rem solid #367258;
  padding: 0.5rem 1.25rem;
}
.project-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.project-stack p {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  background-color: #d2d2d2;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  color: #111827;
}
.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  line-height: 0;
}

