/* CSS Variables */
:root {
    --color-text-primary: #d2d2d2;
    --color-background: #13181b;
    --color-accent: #44ba87;
    --color-accent-dark: #192821;
    --color-accent-super-dark: #0e121a;
    --color-black: #000000;
    --color-border: #367258;
    --color-tag-text: #111827;
    --color-tag-bg: #d2d2d2;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: auto;
  color: var(--color-text-primary);
  background-color: var(--color-accent-super-dark);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.5rem;
  
  background-image: 
    linear-gradient(to bottom, transparent 0%, transparent 70%, var(--color-accent-super-dark) 100%),
    repeating-radial-gradient( circle at 0 0, transparent 0, var(--color-accent-super-dark) 5px ), 
    repeating-linear-gradient( var(--color-accent-super-dark), var(--color-accent-dark)); 
}
/* Typography */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.75;
}

h2 {
    font-size: 1.06rem;
    font-weight: 500;
}

h3 {
    font-size: 0.94rem;
    font-weight: 300;
}

h4 {
    font-size: 0.84rem;
    font-weight: 300;
}

p {
    font-size: 0.75rem;
}

a {
  font-size: 0.75rem;
  color: var(--color-accent);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1H7M7 1V7M7 1L1 7" stroke="%2344ba87"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

/* Main Container */
#main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  #main {
      max-width: 48rem;
  }
}

/* About/Intro Section */
#about {
  display: flex;
  max-width: 48rem;
  flex-direction: column;
  gap: 1.5rem;
}

.intro-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.profile-pic-container {
  width: 12rem;
  height: 100%;
  max-width: 12rem;
  max-height: 12rem;
  background-color: var(--color-black);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic {
  width: 100%;
  @media (max-width: 768px) {
    height: 100%;
    object-fit: cover;
  }
}
.intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-header {
  display: flex;
  flex-direction: column;
}
/* Works & Projects Section */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 0.25rem solid var(--color-border);
  padding: 0.5rem 1.25rem;
}
.project-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.project-stack p {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  background-color: var(--color-tag-bg);
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  color: var(--color-tag-text);
}
.links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  line-height: 0;
}
/* BookShelf Section */
.book-container {
  border-left: 0.25rem solid var(--color-border);
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.book-header {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
