@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewbox {
  position: relative;
  height: 100svh;
  overflow: scroll;
  width: 100%;
}
